@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*:not(.rvNotification) {
    color: white;
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;

    outline: none;
}

body {
    background-color: black;

    margin: 0;

    overflow: hidden;
}

h1 {
    font-size: 200%;
}

h5 {
    font-weight: 300;
}

input[type="text"] {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);

    border: none;
    border-radius: 10000px;

    caret-color: #0059ff;

    max-width: fit-content;

    padding: 2.5vh;
}

a {
    text-decoration: none;
}

.content {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translate(-50%, -50%);

    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.one-line {
    display: flex;
    flex-direction: row;
    gap: 5vw;

    align-items: center;
    justify-content: center;
}

.circle {
    background-size: cover;
    background-position: center;

    min-width: 7.5vw;
    min-height: 7.5vw;

    border: 2px solid #0059ff;
    border-radius: 100%;

    box-shadow: 0px 0px 1px 7.5px rgba(0, 89, 255, 0.2);

    animation: 2.5s circle infinite;
}

.circle-time {
    background-size: cover;
    background-position: center;

    min-width: 7.5vw;
    min-height: 7.5vw;

    border: 2px solid #0059ff;
    border-radius: 100%;

    animation: 3s circle-time infinite linear;

    position: relative;
    transform-style: preserve-3d;
}

.circle-time::before {
    border: 2px solid #0059ff;
    border-radius: 100%;
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: 0px 0px 1px 7.5px rgba(0, 89, 255, 0.2);
    animation: 3s circle-time infinite linear;
    transform-style: preserve-3d;
}

.circle-error {
    background-size: cover;
    background-position: center;

    min-width: 7.5vw;
    min-height: 7.5vw;

    border: 2px solid red;
    border-radius: 100%;

    box-shadow: 0px 0px 1px 7.5px rgba(255, 0, 0, 0.2);

    animation: 2.5s circle-error infinite;
}

.circle-debug {
    background-size: cover;
    background-position: center;

    min-width: 7.5vw;
    min-height: 7.5vw;

    border: 2px solid orange;
    border-radius: 100%;

    box-shadow: 0px 0px 1px 7.5px rgba(255, 165, 0, 0.2);

    animation: 2.5s circle-debug infinite;
}

.small-padding {
    padding: 2.5vw;
}

.tiny-padding {
    padding: 1vw;
}

.answer {
    word-spacing: -5px;
}

.button {
    padding: 2.5vh;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;
    border-radius: 100000px;

    text-decoration: none;
    font-size: 0.75rem;

    transition: ease 0.25s;
}

.button:hover {
    cursor: pointer;

    background-color: rgba(0, 89, 255, 0.2);
}

.button-random {
    padding: 2.5vh;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;
    border-radius: 100000px;

    text-decoration: none;
    font-size: 0.75rem;

    transition: ease 0.25s;

    position: absolute;
    top: 60vh;
    left: 55vw;
}

.button-random:hover {
    cursor: pointer;

    background-color: rgba(0, 89, 255, 0.2);
}

.button-time {
    padding: 3vh;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;
    border-radius: 100000px;

    text-decoration: none;
    text-align: center;
    font-size: 0.85rem;

    transition: ease 0.25s;
}

.button-time:hover {
    cursor: pointer;

    background-color: rgba(0, 89, 255, 0.2);
}

.hidden {
    display: none;
}

.hidden-but-takes-up-space {
    opacity: 0;
}

.one-column {
    display: flex;
    flex-direction: column;
    gap: 5vw;

    align-items: center;
    justify-content: center;
}

.button-network {
    padding: 3vh;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;
    border-radius: 100000px;

    text-decoration: none;
    text-align: center;
    font-size: 0.85rem;

    transition: ease 0.25s;
}

.button-network:hover {
    cursor: pointer;

    background-color: rgba(255, 0, 0, 0.2);
}

.content-network {
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translate(-50%, -50%);

    align-items: center;
    display: flex;
    flex-direction: column;

    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.error {
    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 100000px;

    font-family: monospace;

    margin: -5vh;

    padding: 2.5vh;
}

.button-debug {
    padding: 3vh;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;
    border-radius: 100000px;

    text-decoration: none;
    text-align: center;
    font-size: 0.85rem;

    transition: ease 0.25s;
}

.button-debug:hover {
    cursor: pointer;

    background-color: rgba(255, 165, 0, 0.2);
}

@keyframes circle {
    0% {
      box-shadow: 0px 0px 1px 12.5px rgba(0, 89, 255, 0.2), 0px 0px 500px 5px #0059ff;
    }

    50% {
      box-shadow: 0px 0px 1px 20px rgba(0, 89, 255, 0.2), 0px 0px 500px 10px #0059ff;
    }

    100% {
      box-shadow: 0px 0px 1px 12.5px rgba(0, 89, 255, 0.2), 0px 0px 500px 5px #0059ff;
    }
}

@keyframes circle-time {
    0% {
        box-shadow: 0px 0px 1px 12.5px rgba(0, 89, 255, 0.2), 0px 0px 500px 5px #0059ff;
        transform: rotateY(0deg) rotateX(0deg);
      }

      50% {
        box-shadow: 0px 0px 1px 20px rgba(0, 89, 255, 0.2), 0px 0px 500px 10px #0059ff;
        transform: rotateY(180deg) rotateX(180deg);
      }
      
      100% {
        box-shadow: 0px 0px 1px 12.5px rgba(0, 89, 255, 0.2), 0px 0px 500px 5px #0059ff;
        transform: rotateY(360deg) rotateX(360deg);
      }
}

@keyframes circle-text {
    0% {
        box-shadow: 0px 0px 1px 12.5px rgba(0, 89, 255, 0.2);
    }
    
    50% {
        box-shadow: 0px 0px 1px 20px rgba(0, 89, 255, 0.2);
    }

    100% {
        box-shadow: 0px 0px 1px 12.5px rgba(0, 89, 255, 0.2);
    }
}

@keyframes circle-error {
    0% {
        box-shadow: 0px 0px 1px 12.5px rgba(255, 0, 0, 0.2), 0px 0px 500px 5px red;
    }
    
    50% {
        box-shadow: 0px 0px 1px 20px rgba(255, 0, 0, 0.2), 0px 0px 500px 10px red;
    }

    100% {
        box-shadow: 0px 0px 1px 12.5px rgba(255, 0, 0, 0.2), 0px 0px 500px 5px red;
    }
}

@keyframes circle-debug {
    0% {
        box-shadow: 0px 0px 1px 12.5px rgba(255, 165, 0, 0.2), 0px 0px 500px 5px orange;
    }

    50% {
        box-shadow: 0px 0px 1px 20px rgba(255, 165, 0, 0.2), 0px 0px 500px 10px orange;
    }

    100% {
        box-shadow: 0px 0px 1px 12.5px rgba(255, 165, 0, 0.2), 0px 0px 500px 5px orange;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}